.gradient-bar {
  position:relative;

  &:after {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 0.5em;
    background: linear-gradient(to right,
                                $blue-color 0%, $blue-color 25%,
                                $yellow-color 25%, $yellow-color 50%,
                                 $red-color 50%, $red-color 75%,
                                 $purple-color 75%, $purple-color 100%
                                 );
  }
}
